<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h1 class="login-title">Hello!</h1>
      <span class="login-subtitle"
        >Ứng dụng quản lý mẫu lịch và tự động thông báo</span
      >
      <p class="login-subtitle">Đăng nhập để tiếp tục</p>
      <hr class="divider" />
      <a href="/oauth2/authorization/google" class="google-btn">
        <img
          src="/images/google-logo.svg"
          alt="Google logo"
          class="google-icon"
        />
        Đăng nhập với Google
      </a>
    </div>
  </body>
</html>
